<div class="container-fluid">
  <h4 *ngIf="tariffAction == 'add'" class="text-uppercase header">
    TARIFF | CREATE
  </h4>
  <h4 *ngIf="tariffAction == 'edit'" class="text-uppercase header">
    TARIFF | EDIT
  </h4>

  <div class="rel-action">
    <a class="add-btn" href="admin/inaipi/setup" title="Back to the List">
      <img src="assets/images/list.svg" />
    </a>
  </div>

  <div class="col-md-12 box-shadow">
    <form
      [formGroup]="tariffForm"
      #f="ngForm"
      (submit)="createUpdateTariff(f.value)"
      class="alert-condition-border"
    >
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Provider</label>
                <select class="dropdown" formControlName="provider">
                  <option value="" disabled selected>Select Provider</option>
                  <option *ngFor="let data of providerList" [value]="data._id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Name</label>
                <input
                  class="input-field"
                  type="text"
                  placeholder="Enter name"
                  formControlName="name"
                />
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Type</label>
                <select class="dropdown" formControlName="type">
                  <option value="" disabled selected>Select Type</option>
                  <option
                    *ngFor="let data of tariffTypeList"
                    [value]="data.value"
                  >
                    {{ data.view }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label>Trunk ID</label>
                <input
                  class="input-field"
                  type="text"
                  placeholder="Enter trunk Id"
                  formControlName="trunkId"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Units</label>
                <input
                  class="input-field"
                  (keypress)="numericOnly($event)"
                  type="text"
                  placeholder="Enter units"
                  formControlName="units"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Units Of Measurement</label>
                <select class="dropdown" formControlName="unitsMeasurement">
                  <option value="" disabled selected>
                    Select Measurement Units
                  </option>
                  <option
                    *ngFor="let data of unitMeasurementList"
                    [value]="data.value"
                  >
                    {{ data.view }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Currency</label>
                <select class="dropdown" formControlName="currency">
                  <option value="" disabled selected>Select Currency</option>
                  <option *ngFor="let data of currencyList" [value]="data._id">
                    {{ data.symbol }} - {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Calculation Type</label>
                <select class="dropdown" formControlName="calculationType">
                  <option value="" disabled selected>
                    Select Calculation Type
                  </option>
                  <option
                    *ngFor="let data of calculationTypeList"
                    [value]="data.value"
                  >
                    {{ data.view }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Time Zone</label>
                <select class="dropdown" formControlName="timeZone">
                  <option value="" disabled selected>Select Time Zone</option>
                  <option *ngFor="let data of timeZoneList" [value]="data._id">
                    {{ data.completeName }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label>Priority</label>
                <input
                  class="input-field"
                  type="text"
                  placeholder="Enter priority"
                  formControlName="priority"
                />
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label>External ID</label>
                <input
                  class="input-field"
                  type="text"
                  placeholder="Enter external Id"
                  formControlName="externalId"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label>Country Code</label>
                <input
                  class="input-field"
                  type="text"
                  placeholder="Enter country code"
                  (keypress)="numericOnly($event)"
                  formControlName="countryCode"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-sm-12">
                <label class="required">Call Type</label>
                <select class="dropdown" formControlName="callType">
                  <option value="" disabled selected>Select Call Type</option>
                  <option *ngFor="let data of callTypes" [value]="data.value">
                    {{ data.view }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-12 form-group form-group-sm">
            <div class="row">
              <div class="col-md-6">
                <button
                  type="submit"
                  *ngIf="
                    tariffAction == 'add' &&
                    permissions.indexOf('canAddTariff') >= 0
                  "
                  class="btn btn-sm btn-primary"
                  [disabled]="!tariffForm.valid"
                >
                  Add Tariff
                </button>
                <button
                  type="submit"
                  *ngIf="
                    tariffAction == 'edit' &&
                    permissions.indexOf('canEditTariff') >= 0
                  "
                  class="btn btn-sm btn-primary"
                  [disabled]="!tariffForm.valid"
                >
                  Edit Tariff
                </button>
              </div>
              <div class="col-md-6" *ngIf="ShowTariffRateAndTimeDiv == false">
                <button
                  type="button"
                  *ngIf="permissions.indexOf('canAddTariffRateAndDate') >= 0"
                  class="btn btn-sm btn-primary"
                  style="float: right"
                  (click)="ShowTariffRateAndTimeDiv = true; addRateTime()"
                >
                  Add Tariff Rate And Time
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="ShowTariffRateAndTimeDiv == true">
    <div class="col-md-12" style="padding: 0 !important">
      <form
        [formGroup]="tariffRatesAndTimeForm"
        #f1="ngForm"
        (submit)="createAndUpdateTariffRateAndTime(f1.value)"
        class="alert-condition-border"
      >
        <br />
        <div class="col-md-12" style="padding: 0 !important">
          <h4 class="text-uppercase header" style="margin-top: 0rem">
            SET TARIFF RATE AND TIME
            <button
              type="button"
              class="close"
              (click)="ShowTariffRateAndTimeDiv = false"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>
        </div>
        <div class="row box-shadow-mar">
          <div class="col-md-4">
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Rate</label>
                  <input
                    class="input-field"
                    type="text"
                    placeholder="Enter rate"
                    formControlName="rate"
                    currencyMask
                    [options]="{ prefix: '', thousands: ',' }"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Rate Start Date & Time</label>
                  <div class="form-group tariff-datepicker">
                    <dp-date-picker
                      formControlName="rateStartDate"
                      [config]="datePickerConfig"
                      mode="daytime"
                      theme="dp-material"
                      placeholder="Select date and time"
                      (onSelect)="startDateAndTimeChange($event)"
                    ></dp-date-picker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Rate End Date & Time</label>
                  <div class="form-group tariff-datepicker">
                    <dp-date-picker
                      formControlName="rateEndDate"
                      [config]="datePickerConfig"
                      mode="daytime"
                      theme="dp-material"
                      placeholder="Select date and time"
                      (onSelect)="endDateAndTimeChange($event)"
                    ></dp-date-picker>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Special Rate</label>
                  <input
                    class="input-field"
                    type="text"
                    placeholder="Enter special rate"
                    formControlName="specialRate"
                    currencyMask
                    [options]="{ prefix: '', thousands: ',' }"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Special Rate Start Date & Time</label>
                  <div class="form-group tariff-datepicker">
                    <dp-date-picker
                      formControlName="specialRateStartDate"
                      [config]="datePickerConfig"
                      placeholder="Select date and time"
                      mode="daytime"
                      theme="dp-material"
                      (onSelect)="specialStartDateAndTimeChange($event)"
                    ></dp-date-picker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label class="required">Special Rate End Date & Time</label>
                  <div class="form-group tariff-datepicker">
                    <dp-date-picker
                      formControlName="specialRateEndDate"
                      [config]="datePickerConfig"
                      mode="daytime"
                      placeholder="Select date and time"
                      theme="dp-material"
                      (onSelect)="specialEndDateAndTimeChange($event)"
                    ></dp-date-picker>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label>Minimum</label>
                  <input
                    class="input-field"
                    type="text"
                    placeholder="Enter minimum"
                    formControlName="minimum"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-12 form-group form-group-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label>Maximum</label>
                  <input
                    class="input-field"
                    type="text"
                    placeholder="Enter maximum"
                    formControlName="maximum"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group form-group-sm">
            <button
              type="submit"
              *ngIf="
                permissions.indexOf('canAddTariffRateAndDate') >= 0 ||
                permissions.indexOf('canEditTariffRateAndDate') >= 0
              "
              class="btn btn-sm btn-primary mar-15"
              [disabled]="!tariffRatesAndTimeForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="tariffRateTimeList.length">
    <br />
    <div class="col-md-12">
      <h5 class="text-center">Tariff Rate And Time Details</h5>
      <br />
    </div>
    <div class="col-md-12 box-shadow text-center" style="padding: 0 !important">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th style="text-align: left; width: 9%">Rate</th>
            <th class="text-center" style="width: 20%">Rate Date And Time</th>
            <th>Special Rate</th>
            <th class="text-center" style="width: 20%">
              Special Rate Date And Time
            </th>
            <th>Minimum</th>
            <th>Maximum</th>
            <th class="text-right pull-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tariffRateTimeList">
            <td style="text-align: left">{{ data.rate }}</td>
            <td>
              {{ data.rateStartDate | date: "short" }} -
              {{ data.rateEndDate | date: "short" }}
            </td>
            <td>{{ data.specialRate }}</td>
            <td>
              {{ data.specialRateStartDate | date: "short" }} -
              {{ data.specialRateEndDate | date: "short" }}
            </td>
            <td>{{ data.minimum || "-" }}</td>
            <td>{{ data.maximum || "-" }}</td>
            <td class="text-right pull-right">
              <button
                class="btn btn-sm btn-warning mar-5-left"
                title="Edit"
                (click)="setRateAndTimeFormData(data)"
                *ngIf="permissions.indexOf('canEditTariffRateAndDate') >= 0"
              >
                <img src="assets/images/edit-icon.svg" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
</div>
