<div class="container-fluid" *ngIf="permissions && permissions.length">
  <h4 class="text-uppercase header">ORGANIZATION | MANAGE</h4>
  <div class="rel-action" (click)="openOrganizationPopUp()">
    <button
      class="btn add-btn"
      *ngIf="permissions.indexOf('canAddOrganization') >= 0"
      title="Add Organization"
    >
      <img src="assets/images/plus-icon.svg" height="35px;" />
    </button>
  </div>

  <div class="organization-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Parent</th>
          <th scope="col">#Child</th>
          <th scope="col">Created At</th>
          <th scope="col" class="text-right pull-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of orgList
              | paginate
                : {
                    itemsPerPage: orgPaginator.limit,
                    currentPage: orgPaginator.skip,
                    totalItems: orgPaginator.total
                  }
          "
        >
          <th scope="row">{{ data.name }}</th>
          <td>{{ data.parentName || "ROOT" }}</td>
          <td>
            <a (click)="listChilds(data.child)" class="cursor-pointer">{{
              data.child.length
            }}</a>
          </td>
          <td>{{ (data.creationDate | date) || "-" }}</td>
          <td class="text-right pull-right">
            <button
              class="btn btn-sm btn-warning mar-5-left"
              title="Edit Organization"
              *ngIf="
                permissions.indexOf('canEditOrganization') >= 0 && data.parent
              "
              (click)="editOrg(data)"
            >
              <img src="assets/images/edit-icon.svg" />
            </button>
            <button
              class="btn btn-sm btn-danger mar-5-left"
              title="Delete Organization"
              *ngIf="
                permissions.indexOf('canDeleteOrganization') >= 0 && data.parent
              "
              (click)="deleteOrg(data)"
            >
              <img src="assets/images/trash.svg" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="getOrgList($event)"
    ></pagination-controls>
  </div>
  <br />
</div>

<!--Add Modal -->
<div
  class="modal fade"
  id="addOrgModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addOrgModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <h6 class="heading">ORGANIZATION | NEW</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <hr />
        <form [formGroup]="organizationForm" (ngSubmit)="addOrg()">
          <div>
            <label class="required">Parent Organization</label>
            <select
              class="dropdown"
              id="parent"
              formControlName="parent"
              required
            >
              <option value="" disabled selected>Select Organization</option>
              <option *ngFor="let item of parentOrgList" value="{{ item._id }}">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div style="margin-top: 5px">
            <label class="required">Name</label>
            <input
              class="input-field"
              placeholder="Enter Org Name"
              formControlName="name"
              required
            />
          </div>
          <div style="margin-top: 5px">
            <label>Description</label>
            <textarea
              rows="1"
              cols="60"
              placeholder="Enter description"
              class="input-field"
              formControlName="description"
            ></textarea>
          </div>
          <hr />
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            [disabled]="!organizationForm.valid"
          >
            Create Organization
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>

<!--Edit Modal -->
<div
  class="modal fade"
  id="editOrgModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editOrgModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <h6 class="heading">ORGANIZATION | EDIT</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <hr />
        <form [formGroup]="organizationForm" (ngSubmit)="updateOrg()">
          <div style="margin-top: 5px">
            <label class="required">Name</label>
            <input
              class="input-field"
              placeholder="Enter Org Name"
              formControlName="name"
              required
            />
          </div>
          <div style="margin-top: 5px">
            <label>Description</label>
            <textarea
              rows="1"
              cols="60"
              class="input-field"
              placeholder="Enter description"
              formControlName="description"
            ></textarea>
          </div>
          <hr />
          <button
            type="submit"
            class="btn-sm btn btn-primary"
            [disabled]="!organizationForm.valid"
          >
            Edit Organization
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>

<!--Child List Modal -->
<div
  class="modal fade"
  id="orgChildList"
  tabindex="-1"
  role="dialog"
  aria-labelledby="orgChildListLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <h6 class="heading">Child organization name</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <hr />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orgChild of orgChildList">
              <td scope="row">{{ orgChild.name }}</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <h6 class="heading">ORGANIZATION | DELETE</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <hr />
        <label>Do you want to delete this organization- {{ orgName }}?</label>
        <br />
        <button
          type="button"
          class="btn-sm btn delete-btn btn-light"
          data-dismiss="modal"
        >
          No
        </button>
        <button
          type="button"
          class="btn-sm btn delete-btn btn-primary"
          (click)="deleteOrganization()"
        >
          Yes
        </button>
        <br /><br />
      </div>
    </div>
  </div>
</div>
